.btn-primary-pagina-contato{
    background: #109390 !important;
    border-color: #109390 !important;
    font-style: normal !important;
    font-weight: bold !important;
    height: 50px !important;
    width: 218px !important;
    color: #fff !important;
}

.btn-primary-pagina-contato {
    margin: 0;
}