.container-sortable, .sortable-item{
    padding: 5px 15px;
    background-color: #fff;
    border: 0 none;
    border-bottom: solid 1px #ccc;
}

.container-sortable, .sortable-item:last-child{
    border-bottom: none !important;

}

.container-sortable:hover, .sortable-item:hover {
    cursor: move;
}

.sortable-item span{
    display: inline-block;
    margin-right: 5px;
    margin-top: 20px;
    font-weight: bold;
    float: left;

}

.excluir_campo_contato{
    float: right;
    padding: 5px 7px;
    background-color: red;
    border: none;
    color: #fff;
}

.btn-cria-campo{
    float: none !important;
}

.padding-05{
    padding: 5px;
}

.container-contatos p{
    margin-bottom: 0.5rem !important;
}

.titulo-nivel-superior{
    margin-left: -10px;
    font-size: 18px;
    font-weight: bold;
}

.titulo-nivel-nao-superior{
    /*font-size: 15px;*/
    font-weight: bold;
}

.nome-campo{
    font-size: 0.8rem;
}