.st1{
    fill:#E0E0E0;
    stroke:#AAAAAA;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}
.st2{
    fill:#AAAAAA;
    stroke:#AAAAAA;
    stroke-miterlimit:10;
}
.on{
    fill: #196CBD;
}
.mapa_dres{
    /*border:solid 2px #AAAAAA;*/
    margin-top: -70px;

}