.mais-noticias-destaque-principal, .mais-noticias-destaque-principal a, .mais-noticias-destaque-principal a:hover{
    color: #fff;
    font-size: 24px;
    line-height: 32px;
}

.mais-noticias-titulo-destaque-secundarios, .mais-noticias-titulo-destaque-secundarios a, .mais-noticias-titulo-destaque-secundarios a:hover{
    font-size: 24px;
    line-height: 32px;
    color: #196CBD;
    font-weight: bold;
}

@media (max-width: 769px) {
    .mais-noticias-destaque-principal, .mais-noticias-destaque-principal a, .mais-noticias-destaque-principal a:hover, .mais-noticias-titulo-destaque-secundarios, .mais-noticias-titulo-destaque-secundarios a, .mais-noticias-titulo-destaque-secundarios a:hover{
        font-size: 16px !important;
        line-height: normal;
    }

    .texto-mais-noticias-destaques{
        line-height: normal;
    }

}

#menu-menu-mais-noticias li a:hover{
    color: #fff !important;

}
.grid-noticias{
	display: grid;
}