@media ( min-width : 992px) {
   /*Search*/
    .container-search-topo{
       
    }
    input {
        outline: none;
    }
     #search-front-end {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none;
    }


     #search-front-end {
        /*background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;*/
        background: url("../img/search-icon-shadow.png")no-repeat 9px center;
        border: solid 1px #fff;
        padding: 9px 10px 9px 32px;
        width: 55px;

        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;

        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }
     #search-front-end:focus {
        width: 130px;
        background-color: red;
        border-color: #66CC75;

        -webkit-box-shadow: 0 0 5px rgba(112,112,112,.9);
        -moz-box-shadow: 0 0 5px rgba(112,112,112,.9);
        box-shadow: 0 0 5px rgba(112,112,112,.9);
    }


    input:-moz-placeholder {
        color: #999;
    }
    input::-webkit-input-placeholder {
        color: #999;
    }

    /* Demo 2 */
    #demo-2  #search-front-end {
        width: 0;
        color: transparent;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    #demo-2  #search-front-end:hover {
        background-color: #fff;
    }
    #demo-2  #search-front-end:focus {
        width: 130px;
        padding-left: 32px;
        color: #000;
        background-color: #fff;
        cursor: auto;
    }
    #demo-2 input:-moz-placeholder {
        color: transparent;
    }
    #demo-2 input::-webkit-input-placeholder {
        color: transparent;
    }
    /*Fim Search*/

}
