.datahr-agenda{
	color: #0057AD;
}

/*///////////////////PAGINACAO///////////////////////*/
.paginacao-atual .page-numbers {
   background: #fff;
   color: #42474A;
   display: block;
   width: auto;
   float: left;
   padding: 12px 18px;
   text-decoration: none;
   border: solid 1px #ddd;  
}

.paginacao-atual .page-numbers:last-child {
   border-radius: 0px 5px 5px 0px;
}

.paginacao-atual .page-numbers:first-child {
   border-radius: 5px 0px 0px 5px;
}

.paginacao-atual .page-numbers:hover {
   background: #0056b3;
   color: #fff;
   text-decoration: none;
}
 
.paginacao-atual .current {
   background: #2F80ED;
   color: #fff;
   font-weight: bold;
}
.paginacao-atual{
	margin: auto;
	width: fit-content;
	margin-bottom: 5rem;
}