/*Aviso do acervo*/

.alert-info {
    background: #0073aa;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}


/*Cabeçalho do acf*/

.acf-fc-layout-handle {
    background: #01295c !important;
    color: #fff !important;
}


/* Aviso remoção arquivo */

.acf-field.hide-message .description {
    display: none;
    padding: 10px;
    background: red;
    color: #FFFFFF;
    border-radius: 5px;
}

.acf-field.hide-message .description a {
    color: #FFFFFF;
}